// html, body {
//     margin: 0;
//     padding: 0;
// }

// body {
//     background: #eee;
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 14px;
//     margin-bottom: 50px;
// }

// a {
//     text-decoration: none;
// }

// h3, .h3 {
//     font-size: 1.5rem;
// }

// h4, .h4 {
//     margin: 2rem 0;
// }

// .p-3 {
//     padding: 1rem;
// }

// .py-4 {
//     padding-top: 1.5rem;
//     padding-bottom: 1.5rem;
// }

// .mb-3 {
//     padding-bottom: 1rem;
// }

// .bg-white {
//     background: #fff;
// }

// .container {
//     margin: 0 auto;
//     padding: 0 15px;
//     width: 100%;
// }

// .navbar {
//     background: #ffe600;
//     padding: .5rem 0;
//     margin-bottom: 1rem;
// }

// .navbar-brand {
//     background: url(/assets/Logo_ML.png) no-repeat;
//     margin-right: 1.5rem;
//     width: 54px;
//     height: 36px;
// }

// .d-flex {
//     display: flex;
// }

// .flex-grow-1 {
//     flex-grow: 1;
// }

// .btn {
//     border: 0;
//     font-size: 1rem;
//     padding: .25rem .75rem;
// }

// .btn-block {
//     display: block;
//     width: 100%;
// }

// .btn-primary {
//     background: #3483fa;
//     color: #fff;
//     padding: 1rem;
// }

// .btn-light {
//     background: #eee;
// }

// .icon {
//     display: inline-block;
// }

// .icon-search {
//     background: url(/assets/ic_Search.png) no-repeat;
//     width: 20px;
//     height: 20px;
// }

// .form-control {
//     border: 0;
//     display: block;
//     font-size: 1rem;
//     line-height: 1.5;
//     padding: .375rem .75rem;
//     width: 100%;
// }

// .media {
//     border-bottom: 1px solid #eee;
//     padding: 1rem;
// }

// .media > img {
//     border-radius: 4px;
//     display: block;
//     margin-right: 1rem;
//     width: 180px;
//     height: 180px;;
// }

// .product-price {
//     margin-bottom: 2rem;
// }

// .product-price-lg {
//     font-size: 46px;
// }

// .product-imgs img {
//     display: none;
// }

// .product-imgs img:first-child {
//     display: block;
//     width: 680px;
//     height: auto;
// }

// .breadcrumb {
//     margin: 1rem 0;
//     padding: 0;
// }

// .breadcrumb li {
//     display: inline-block;
//     margin: 0;
//     padding: 0 .5rem 0 0;
// }

// @media (min-width: 1200px) {
//     .container {
//         max-width: 1140px;
//     }
// }